* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr 4fr 1fr;
    background:
            linear-gradient(217deg, rgba(16, 113, 181, 0.9), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(243, 66, 19, 0.5), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(222, 145, 81, 0.4), rgba(0, 0, 255, 0) 70.71%);
    border-left: 0.01vw solid rgba(243, 66, 19, 0.5);
    border-right: 0.01vw solid rgba(16, 113, 181, 0.9);
    border-top: 0.01vh solid rgba(16, 113, 181, 0.9);
    border-bottom: 0.01vh solid rgba(222, 145, 81, 0.4);
}
.container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(100px);
    border-radius: 15px;
}
h1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
h4 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 20px;
}
.persons {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.personOne {
    grid-column: 1;
    grid-row: 1;
}
.personTwo {
    grid-column: 2;
    grid-row: 1;
}
.personThree {
    grid-column: 1;
    grid-row: 2;
}
.personFour {
    grid-column: 2;
    grid-row: 2;
}
img {
    height: 85%;
}
.personText {
    height: 15%;
    font-size: 25px;
}